# Byte-compiled / optimized / DLL files
__pycache__/

#environment variables
.env

# Environments
.spotify
spotify/

# Config file
config.py

# Session / cache files
.flask_session/
.spotify_caches/

# Debug/backup files
ignore/
* copy*