# Byte-compiled / optimized / DLL files
__pycache__/

#environment variables
.env

# Environments
.spotify
spotify/

# Config file
config.py

# Session / cache files
.flask_session/
.spotify_caches/

# Debug/backup files
ignore/
* copy*

passwords.txt
*-prev*
*-old*

dependencies-list.txt

toni.ini
.slugignore

s3-save.py

glove.6B.300d.magnitude*
saved_model.pb*
variables/

README-debug.md

aws/

matchesWorker.py
worker.py

.ipynb_checkpoints/
.cache
local/
local.settings.json
*.ipynb
uninstall.txt

installs.txt

*.magnitude*

requirements.in

.vscode/

gen.py