<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
	body {
		background-color: #191414;
		color: #fff;
	}
	
	* {
		font-family: "Rubik", "sans-serif";
	}

	div {
		text-align: center;
		margin-top: 50px;
	}

	h1 {
		color: #1db954; /* #1ed760 */
		/* color: red; */
		font-size: 40pt;
	}

	p {
		font-size: 24pt;
		color: #1ed760;
	}

	#wait {
		position: absolute;
	}

	select {
		max-width: 80vw;
	}

	input[type=time]::-webkit-datetime-edit-ampm-field {
		display: none;
	}

	.without::-webkit-datetime-edit-ampm-field {
		display: none;
	}


	input[type=time]::-webkit-clear-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		-ms-appearance:none;
		appearance: none;
		margin: -10px; 
	}

	.datetime-edit-field {
		display: none !important;
	}

	span.datetime-edit-field.numeric {
		display: inline !important;
	}



</style>
</head>

<body>
<div>
	<h1>Themed Party Playlist: Spotify AI</h1><br>
	<p id="status" class="loading">{{ status }}<span id="wait"></span></p>
</div>
<form action="{{ url_for('sign_in')}}" method="post">
	<label for="theme">Party theme:</label>
	<input type="text" id="theme" name="theme" placeholder="input theme" required/>
	<br>
	<label for="method">Method for finding songs:</label>
	<select id="method" name="method">
		<option value="top tracks"><button>top tracks</button></option>
		<option value="saved tracks"><button>saved tracks</button></option>
		<option value="playlist"><button>existing playlist</button></option>
		<option value="genius"><button>search lyrics on Genius</button></option>
	</select>
	<span id="playlistNameContainer" style="display: none">
		<label id="playlistNameLabel" for="playlistName">Name of an existing playlist from your spotify account:</label> <!-- TODO: add button for getting emojis -->
		<input type="text" id="playlistName" name="playlistName" value="{{ playlists[0]['name'] }}" /> <!-- TODO: make a 'min' or 'songs' or this disappear depending on chosen stop condition, & make display 'block' if select stop condition -->
		<button id="browsePlaylists">browse playlists</button>
		<span id="browsePlaylistsContainer" style="display: none;">
			<select id="playlistSelect" name="playlistSelect" style="display: block">
				{% for p in playlists %}
				<option value="{{p['name']}}"><button>{{p['name']}}</button></option>
				{% endfor %}
			</select>
		</span>
	</span>
	<br>
	<label for="stopCondition">Condition for stopping the program:</label>
	<select id="stopCondition" name="stopCondition">
		<option value="song count"><button>song count</button></option>
		<option value="duration"><button>duration</button></option>
		<option value="None"><button>none</button></option>
	</select>
	<span id="stopNumContainer" style="display: block;">
		<label id="stopNumLabel" for="stopNum">Max number of songs:</label>
		<input type="number" min="0" oninput="validity.valid||(value='');" id="stopNum" name="stopNum" step=1 size=6 value=20 />
	</span>
	<br>
	<label for="saveAs">Save as:</label>
	<input type="text" id="saveAs" name="saveAs" placeholder="leave blank for default"/>
	<br>
	<label for="trainTime">How much time do you have to train the model?</label>
	<!-- <label for="trainTime">Until what time are you around to train the model?</label> -->
	 <input type="number" min="0" oninput="validity.valid||(value='');" id="trainTime" name="trainTime" value=15 size=5/><span>minutes</span>
	<!-- TODO: have this appear in the other form below if no csv file for theme -->
	<!-- <input type="time" min="{{current_time}}" id="trainTime" name="trainTime" value="{{current_time}}" size=5/> -->
	<br>
	<button type="submit">Submit!</button>
</form>
<div id="def-container" style="display:{{ def_display }}">
	<label for="def-form"><b>Related terms to use for '{{ theme }}':</b></label>
	<form name="def-form" action="{{url_for('sign_in')}}" method="post">
		{% for w in sim_words: %}
		<input type="checkbox" id="{{ w }}" name="{{ w }}" />
		<label for="{{ w }}">Include '{{ w }}'</label>
			<br>
		{% endfor %}
		<button type="submit" onclick="get_lyrics()">Submit!</button>
	</form>
</div>

<script>
	var socket = io.connect();

	console.log('connected:', socket.connected);

	socket.on('connect', function() {
		socket.emit('request_nlp');
		console.log('connected:', socket.connected);
	});

	let status = document.getElementById('status');

	socket.on('new_status', function(data, cb) {
		status.classList.remove('loading');
		status.innerText = data.status;
	});

	// let playlists; //new //*
	// socket.on('return-user-playlists', function(data, cb) {
	// 	playlists = data.playlists;

	// 	let playlistsHTML = '<select id="playlistSelect" name="playlistSelect">';

	// 	for (let p of playlists['items']) {
	// 		playlistsHTML += `<option value="${p['name']}"><button>${p['name']}</button></option>`;
	// 	}

	// 	playlistsHTML += '</select>';
	// 	playlistsContainer.innerHTML = playlistsHTML;
	// 	playlistsContainer.style.display = 'block';

	// 	document.getElementById('playlistSelect').addEventListener('change', (ev) => {
	// 		playlistName_input.value = ev.target.value;
	// 	});
	// });


	let submitButtons = document.querySelectorAll('button[type="submit"]');

	submitButtons.forEach(el => {
		el.onclick = function() {
			console.log(el.parentElement, el.parentElement.checkValidity());
			if (el.parentElement.checkValidity()) el.style.display = 'none';
		}
	});

	let wait = document.getElementById('wait');
	
	let counter = 0;
	let dots = window.setInterval(function() {
		counter += 1
		let num = counter%6;
		if (num < 4) wait.innerHTML = '.'.repeat(num);
		else wait.innerHTML = '.'.repeat(6-num);
	}, 350);

	let theme_input = document.getElementById('theme');

	let method_input = document.getElementById('method');
	let playlistNameContainer = document.getElementById('playlistNameContainer');
	let playlistName_input = document.getElementById('playlistName');
	let playlistsContainer = document.getElementById('browsePlaylistsContainer')
	let playlistSelect = document.getElementById('playlistSelect');

	let stopCondition_input = document.getElementById('stopCondition');
	let stopNumContainer = document.getElementById('stopNumContainer');
	let stopNum_label = document.getElementById('stopNumLabel');
	let stopNum_input = document.getElementById('stopNum');

	let saveAs_input = document.getElementById('saveAs');

	playlistSelect.addEventListener('change', (ev) => {
		playlistName_input.value = ev.target.value;
	});

	addEventListener("DOMContentLoaded", function() {
		method_input.addEventListener('change', (ev) => {
			if (ev.target.value === 'playlist') {
				let playlistButton = document.getElementById('browsePlaylists');

				playlistButton.style.display = 'inline'; //TODO: check

				playlistNameContainer.style.display = 'block';
				playlistName_input.required = true;
				
				playlistButton.addEventListener('click', (ev) => {
					ev.preventDefault();
					
					playlistButton.style.display = 'none';

					playlistsContainer.style.display = 'block';

					// if (playlists === undefined) socket.emit('get-user-playlists'); //new //*
					/*
					let request = new XMLHttpRequest();
					request.onload = function() {
						let playlists = JSON.parse(request.response);

						let playlistsHTML = '<select id="playlistSelect" name="playlistSelect">';
						// playlistsContainer.innerHTML += '<select id="playlistSelect" name="playlistSelect">';
						for (let p of playlists['items']) {
							playlistsHTML += `<option value="${p['name']}"><button>${p['name']}</button></option>`;
						}
						playlistsHTML += '</select>';
						playlistsContainer.innerHTML = playlistsHTML;
						playlistsContainer.style.display = 'block';

						document.getElementById('playlistSelect').addEventListener('change', (ev) => {
							playlistName_input.value = ev.target.value;
						});
					}

					request.open('GET', '/user-playlists', true);
					request.send();
					*/
				});
			} else {
				playlistNameContainer.style.display = 'none';
				playlistName_input.required = false;
				playlistsContainer.style.display = 'none';
			}
		});
	});

	theme_input.addEventListener('blur', (ev) => {
		if (!saveAs_input.value || !saveAs_input.classList.contains('userSpecified')) saveAs_input.value = `${ev.target.value} party`;
	});

	saveAs_input.addEventListener('keydown', (ev) => {
		ev.target.classList.add('userSpecified');
	});

	stopCondition_input.addEventListener('change', (ev) => {
		// Number associated with your chosen condition:
		if (ev.target.value === 'duration') {
			stopNumContainer.style.display = 'block';
			stopNum_label.innerText = 'Max playlist duration (in minutes):';
			stopNum_input.step = 'any';
			stopNum_input.required = true;
		} else if (ev.target.value === 'song count') {
			stopNumContainer.style.display = 'block';
			stopNum_label.innerText = 'Max number of songs:';
			stopNum_input.required = true;
			stopNum_input.step = 1;
		} else {
			stopNumContainer.style.display = 'none';
			stopNum_input.required = false;
		}
	});


</script>
</body>
</html>